.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: darkorange;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-right: 300px;
}

ul {
  margin: 2px 0 22px 17px;
}
ul li {
  margin: 0 0 6px 0;
  padding: 0 0 4px 6px;
  line-height: 1.5em;
}
.data {
  margin-left: 40px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
